<h2>Loading</h2>

<div class="demo-group">
  <h5 class="demo-group__title">Spinner</h5>

  <div class="demo-group__row">
    <div class="demo-group__component">
      {{mdl-spinner isActive=true}}
    </div>

    <div class="demo-group__component">
      {{mdl-spinner isActive=true isSingleColor=true }}
    </div>
  </div>

  <div class="demo-group__snippet">
    {{code-snippet name="spinner.hbs"}}
  </div>
</div>