<h2>Menus</h2>

<style scope>
  .container {
    position: relative;
    width: 200px;
  }
  .bar {
    box-sizing: border-box;
    background: #3F51B5;
    color: white;
    width: 100%;
    padding: 16px;
  }
  .background {
    background: white;
    height: 148px;
    width: 100%;
  }
  .bar .right {
    text-align: right;
  }
</style>

<div class="demo-group">
  <h5 class="demo-group__title">Bottom aligned</h5>
  <div class="demo-group__row">
    <div class="demo-group__component">
      <div class="mdl-shadow--2dp container">
        <div class="bar">
          {{#mdl-menu isBottomLeft=true}}
            {{#mdl-menu-item action=(action "menuAction" "some action")}}Some Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "menuAction" "another action") isFullBleedDivider=true}}Another Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "menuAction" "disabled action") isDisabled=true}}Disabled Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "menuAction" "yet another action")}}Yet Another Action{{/mdl-menu-item}}
          {{/mdl-menu}}
        </div>
        <div class="background"></div>
      </div>
    </div>

    <div class="demo-group__component">
      <div class="mdl-shadow--2dp container">
        <div class="bar">
          {{#mdl-menu isBottomRight=true class="right"}}
            {{#mdl-menu-item action=(action "menuAction" "some action")}}Some Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "menuAction" "another action") isFullBleedDivider=true}}Another Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "menuAction" "disabled action") isDisabled=true}}Disabled Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "menuAction" "yet another action")}}Yet Another Action{{/mdl-menu-item}}
          {{/mdl-menu}}
        </div>
        <div class="background"></div>
      </div>
    </div>
  </div>

  <div class="demo-group__snippet">
    {{#if actionResult}}
      <pre class="hljs mdl-color--yellow-100 mdl-color-text--primary" style="padding:10px">Do {{actionResult}}.</pre>
    {{/if}}
    {{code-snippet name="menu-bottom.hbs"}}
  </div>
</div>

<div class="demo-group">
  <h5 class="demo-group__title">Top aligned</h5>
  <div class="demo-group__row">
    <div class="demo-group__component">
      <div class="mdl-shadow--2dp container">
        <div class="background"></div>
        <div class="bar">
          {{#mdl-menu isTopLeft=true}}
            {{#mdl-menu-item action=(action "otherMenuAction" "some action")}}Some Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "otherMenuAction" "another action") isFullBleedDivider=true}}Another Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "otherMenuAction" "disabled action") isDisabled=true}}Disabled Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "otherMenuAction" "yet another action")}}Yet Another Action{{/mdl-menu-item}}
          {{/mdl-menu}}
        </div>
      </div>
    </div>

    <div class="demo-group__component">
      <div class="mdl-shadow--2dp container">
        <div class="background"></div>
        <div class="bar">
          {{#mdl-menu isTopRight=true class="right"}}
            {{#mdl-menu-item action=(action "otherMenuAction" "some action")}}Some Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "otherMenuAction" "another action") isFullBleedDivider=true}}Another Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "otherMenuAction" "disabled action") isDisabled=true}}Disabled Action{{/mdl-menu-item}}
            {{#mdl-menu-item action=(action "otherMenuAction" "yet another action")}}Yet Another Action{{/mdl-menu-item}}
          {{/mdl-menu}}
        </div>
      </div>
    </div>
  </div>

  <div class="demo-group__snippet">
    {{#if otherActionResult}}
      <pre class="hljs mdl-color--yellow-100 mdl-color-text--primary" style="padding:10px">Do {{otherActionResult}}.</pre>
    {{/if}}
    {{code-snippet name="menu-top.hbs"}}
  </div>
</div>


