@import "material-design-lite";

.demo-group {
  margin-bottom: 50px;
  background-color: #f3f2f2;

  &__title {
    color: #6b6b6b;
    padding: 10px;
  }

  &__row {
    // display: table-row;
  }

  &__component {
    display: table-cell;
    padding: 0 40px;
  }

  &__layout {
    width: 96%;
    padding: 30px 2% 0;

    &-container {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      position: relative;
      height: 300px;
      width: 100%;
    }
  }

  &__snippet {
    margin-top: 30px;
    padding: 1px;

    pre {
      margin: 0 0 1px 0;
    }
  }
}

.mdl-navigation__link {
  &.active {
    font-weight: 600;
    color: #000 !important;
  }
}

.is-small-screen {
  .content-container {
    margin: 0 0 0 50px;
    padding: 0;
  }
}

.content-container {
  padding: 10px;
}

a {
  color: #000;
}

u-padding-10 {
  padding: 10px;
}
